.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: 32px;
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}












@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card3-testimonial-card {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-icon {
  width: 48px;
  margin-bottom: 32px;
}
.testimonial-card3-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-text {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 48px;
}
.testimonial-card3-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card3-text1 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media(max-width: 767px) {
  .testimonial-card3-icon {
    height: 48px;
  }
}
@media(max-width: 479px) {
  .testimonial-card3-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-navbar-container {
  width: 100%;
  height: 62px;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #161616;
}
.page-link {
  top: 16px;
  color: var(--dl-color-gray-white);
  right: 50px;
  position: absolute;
  font-size: 20px;
  text-decoration: none;
}
.page-navbar {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.page-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.page-icon {
  width: 36px;
  height: 36px;
}
.page-image {
  width: 147px;
  height: 61px;
  object-fit: cover;
}
.page-links-container {
  width: 168px;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-text {
  color: var(--dl-color-gray-white);
  font-size: 36px;
  font-weight: 900;
}
.page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.page-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.page-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-icon02 {
  width: 24px;
  height: 24px;
}
.page-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-link4 {
  text-decoration: none;
}
.page-link5 {
  top: 16px;
  color: var(--dl-color-gray-white);
  right: 200px;
  position: absolute;
  font-size: 20px;
}
.page-link6 {
  top: 16px;
  left: left;
  color: var(--dl-color-gray-white);
  right: 350px;
  position: absolute;
  font-size: 20px;
  text-decoration: none;
}
.page-navlink {
  top: 16px;
  left: 1385px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 20px;
  text-decoration: none;
}
.page-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1505873242700-f289a29e1e0f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI5fHxob21lJTIwaW50ZXJpb3JzfGVufDB8fHx8MTY4MzAyOTEyMw&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
.page-text05 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.page-link7 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.page-link7:hover {
  transform: scale(1.02);
}
.page-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.page-text06 {
  font-size: 3rem;
  text-align: center;
}
.page-text07 {
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.page-gallery {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.page-text08 {
  font-size: 3rem;
  text-align: center;
}
.page-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.page-steps {
  width: 1744px;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.page-text09 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-unit);
}
.page-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.page-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.page-step {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.page-text11 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.page-text13 {
  font-size: 1.15rem;
  align-self: center;
  text-align: center;
  font-weight: 500;
}
.page-text14 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.page-step1 {
  width: 434px;
  height: 264px;
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.page-text17 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.page-text19 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
}
.page-text20 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.page-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.page-step2 {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.page-text21 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.page-text23 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
}
.page-text24 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.page-step3 {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.page-text27 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.page-text29 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
}
.page-text30 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.page-step4 {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.page-text33 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.page-text34 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: 500;
}
.page-text35 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.page-testimonial {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.page-text38 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.page-text40 {
  color: var(--dl-color-gray-black);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.page-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.page-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.page-text41 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.page-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-form-container {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.page-heading {
  margin-bottom: var(--dl-space-space-fourunits);
}
.page-name {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.page-email {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.page-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.page-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.page-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.page-image2 {
  height: 2rem;
  object-fit: cover;
}
.page-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.page-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.page-icon08 {
  width: 16px;
  height: 16px;
}
@media(max-width: 1200px) {
  .page-navbar {
    opacity: 1;
  }
  .page-links-container {
    position: relative;
  }
  .page-text {
    top: 13px;
    left: 2px;
    position: absolute;
    font-size: 50px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 900;
  }
  .page-text01 {
    font-weight: 900;
    text-transform: capitalize;
  }
  .page-form-container {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .page-text07 {
    max-width: 100%;
  }
  .page-container2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page-text09 {
    text-align: center;
  }
  .page-text11 {
    text-align: center;
  }
  .page-text13 {
    text-align: center;
  }
  .page-text17 {
    text-align: center;
  }
  .page-text19 {
    text-align: center;
  }
  .page-text21 {
    text-align: center;
  }
  .page-text23 {
    text-align: center;
  }
  .page-text27 {
    text-align: center;
  }
  .page-text29 {
    text-align: center;
  }
  .page-text33 {
    text-align: center;
  }
  .page-text34 {
    text-align: center;
  }
  .page-text38 {
    text-align: center;
  }
  .page-text40 {
    text-align: center;
  }
  .page-container6 {
    flex-direction: column;
  }
  .page-form-container {
    width: 60%;
  }
}
@media(max-width: 767px) {
  .page-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .page-icon {
    fill: var(--dl-color-gray-white);
  }
  .page-links-container {
    display: none;
  }
  .page-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-text07 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-gallery {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-container2 {
    grid-template-columns: 1fr 1fr;
  }
  .page-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-container3 {
    flex-direction: column;
  }
  .page-step {
    padding: var(--dl-space-space-unit);
  }
  .page-step1 {
    padding: var(--dl-space-space-unit);
  }
  .page-step2 {
    padding: var(--dl-space-space-unit);
  }
  .page-step3 {
    padding: var(--dl-space-space-unit);
  }
  .page-step4 {
    padding: var(--dl-space-space-unit);
  }
  .page-testimonial {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-content-container {
    width: 100%;
    flex-direction: column;
  }
  .page-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .page-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .page-text42 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .page-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .page-gallery {
    padding: var(--dl-space-space-unit);
  }
  .page-container2 {
    grid-template-columns: 1fr;
  }
  .page-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .page-container4 {
    flex-direction: column;
  }
  .page-container5 {
    flex-direction: column;
  }
  .page-testimonial {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .page-content-container {
    padding-left: 0px;
  }
  .page-form-container {
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .page-heading {
    text-align: center;
  }
  .page-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .page-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text42 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
